.proposition {
  img {
    width: 100%;
  }

  .speech {
    padding: 15px;

    .wrapper {
      min-height: 100px;
      display: flex;
      align-items: center;

      position:relative;
      padding:50px 15px;
      border:10px solid #5a8f00;
      color:#333;
      background:#fff;
      /* css3 */
      -webkit-border-radius:20px;
      -moz-border-radius:20px;
      border-radius:20px;
    }

    .content {
      width: 100%;
      text-align: center;
    }

    /* creates larger curve */
    .wrapper:before {
      content:"";
      position:absolute;
      z-index:10;
      bottom:-40px;
      left:250px;
      width:50px;
      height:30px;
      border-style:solid;
      border-width:0 10px 10px 0;
      border-color:#5a8f00;
      background:transparent;
      /* css3 */
      -webkit-border-bottom-right-radius:80px 50px;
      -moz-border-radius-bottomright:80px 50px;
      border-bottom-right-radius:80px 50px;
      /* reduce the damage in FF3.0 */
      display:block;
    }

    /* creates smaller curve */
    .wrapper:after {
      content:"";
      position:absolute;
      z-index:10;
      bottom:-40px;
      left:250px;
      width:20px;
      height:30px;
      border-style:solid;
      border-width:0 10px 10px 0;
      border-color:#5a8f00;
      background:transparent;
      /* css3 */
      -webkit-border-bottom-right-radius:40px 50px;
      -moz-border-radius-bottomright:40px 50px;
      border-bottom-right-radius:40px 50px;
      /* reduce the damage in FF3.0 */
      display:block;
    }

    /* creates a small circle to produce a rounded point where the two curves meet */
    .wrapper > :first-child:before {
      content:"";
      position:absolute;
      bottom:-40px;
      z-index: 1;
      left:247px;
      width:10px;
      height:10px;
      background:#5a8f00;
      /* css3 */
      -webkit-border-radius:10px;
      -moz-border-radius:10px;
      border-radius:10px;
    }

    /* creates a white rectangle to cover part of the oval border*/
    .wrapper > :first-child:after {
      content:"";
      position:absolute;
      bottom:-10px;
      left:270px;
      width:20px;
      height:15px;
      background:#fff;
    }

  }
}
