.fixedBottom {
  position: fixed;
  bottom: 15px;
  height: 20%;
  display: flex;
  flex-direction: column-reverse;
}

.vote, .confirmation {
  font-family: $font-main;
  line-height: 0.9;

  &.row {
    height: 73%;
  };

  .col {
    height: 100%;
  }

  .panel {
    font-size: 3em;

    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    color: white;

    span {
      width: 100%;
    }

    &.lie {
      background-color: $color-red;
    }
    &.truth {
      background-color: $color-green;
    }
  }

  input {
    display: none;
  }
}
