.vote {

  &.container-fluid {
    position: fixed;
    bottom: 0;
    height: 15%;
  };

  .col, .row {
    height: 100%;
  }

  .col {
    display: flex;
    align-items: center;
  }

  .button {
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
  }

  input {
    display: none;
  }

}
